<footer class="site-footer">
  {% include nav/site.html theme="footer" %}
  <div class="site-footer__wrap">
    <div>
      {% include components/logo-se.html placement="footer" small='true' %}
      {% include components/logo-partner.html placement="footer" small='true' %}
    </div>
    <div class="space--sm text--sm content-spacing">
      <a class="js-open-modal link link--underline" href="#0" data-open-modal="terms-and-conditions">*Terms and conditions</a>
      <p>© Copyright <span class="js-year">2020</span> Secret Escapes</p>
    </div>
  </div>
</footer>