// general styles for the project that wouldn't be a reuseable component

.col__content-spacing {
  > * + * {
    margin-top: $s2;
    @include bp($lg) { margin-top: $s4; }
  }
}

.flavour {
  &--blueberry &__title { color: $lf-blueberry-text; }
  &--blueberry {
    background-color: lighten($lf-blueberry, 48);
    border: 2px solid $lf-blueberry;
  }
  &--vanilla &__title { color: $lf-vanilla-text; }
  &--vanilla {
    background-color: lighten($lf-vanilla, 20);
    border: 2px solid $lf-vanilla;
  }
  &--peach &__title { color: $lf-peach-text; }
  &--peach {
    background-color: lighten($lf-peach, 44);
    border: 2px solid $lf-peach;
  }
  &--lemon &__title { color: $lf-lemon-text; }
  &--lemon {
    background-color: lighten($lf-lemon, 47);
    border: 2px solid $lf-lemon;
  }
  &--cherry &__title { color: $lf-cherry-text; }
  &--cherry {
    background-color: lighten($lf-cherry, 48);
    border: 2px solid $lf-cherry;
  }
  &--strawberry &__title { color: $lf-strawberry-text; }
  &--strawberry {
    background-color: lighten($lf-strawberry, 47);
    border: 2px solid $lf-strawberry;
  }
  &--coconut &__title { color: $lf-coconut-text; }
  &--coconut {
    background-color: lighten($lf-coconut, 43);
    border: 2px solid $lf-coconut;
  }
  &--raspberry &__title { color: $lf-raspberry-text; }
  &--raspberry {
    background-color: lighten($lf-raspberry, 40);
    border: 2px solid $lf-raspberry;
  }
}

.bg {
  &--about {
    background-color: $grey-darkest;
    background-position: top center;
  }
}

.width {
  &--lf-logo { max-width: 200px; }
}

.vpad {
  &--about {
    padding-top: $s12;
    padding-bottom: $s12;
    @include bp($lg) {
      padding-top: 50vh;
      padding-bottom: 20vh;
    }
  }
}


.prize {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  &__description {
    margin-left: $s2;
    font-size: $s2;
    font-weight: 600;
    width: 250px;
  }
  &__number{
    flex-shrink: 0;
    $size: 125px;
    height: $size;
    width: $size;
    font-size: $s9;
    line-height: $size;
    text-align: center;
    font-family: $font-title-01;
    @include background-attributes;
    &--8-0 { background-image: url('../img/content/competition/pie/pie-8-0.svg'); }
    &--8-1 { background-image: url('../img/content/competition/pie/pie-8-1.svg'); }
    &--8-2 { background-image: url('../img/content/competition/pie/pie-8-2.svg'); }
    &--8-3 { background-image: url('../img/content/competition/pie/pie-8-3.svg'); }
    &--8-4 { background-image: url('../img/content/competition/pie/pie-8-4.svg'); }
    &--8-5 { background-image: url('../img/content/competition/pie/pie-8-5.svg'); }
    &--8-6 { background-image: url('../img/content/competition/pie/pie-8-6.svg'); }
    &--8-7 { background-image: url('../img/content/competition/pie/pie-8-7.svg'); }
    &--8-8 { background-image: url('../img/content/competition/pie/pie-8-8.svg'); }
  }
}

.shops {
  padding-top: $s0;
  .shop {
    display: inline-block;
    padding: $s0 $s3;
    margin: $s-4 $s-6;
    font-size: $s1;
    font-weight: 600;
    background-color: $grey-lightest;
    border-radius: 999rem;
    @include transition;
    &:hover { color: $white }
    &--sainsburys {
      color: #f06c00;
      background-color: #feede0;
      &:hover { background-color: #f06c00; }
    }
    &--tesco {
      color: #00539f;
      background-color: #e0eaf3;
      &:hover { background-color: #00539f; }
    }
    &--asda {
      color: #68a51c;
      background-color: #edf4e3;
      &:hover { background-color: #68a51c; }
    }
    &--morrisons {
      color: #064e37;
      background-color: #e0e9e6;
      &:hover { background-color: #064e37; }
    }
    &--coop {
      color: #00b1e7;
      background-color: #e6f7fd;
      &:hover { background-color: #00b1e7; }
    }
    &--marks-spencer {
      color: $black;
      background-color: #e6e6e6;
      &:hover { background-color: $black; }
    }
    &--waitrose {
      color: #5c8018;
      background-color: #eff2e8;
      &:hover { background-color: #5c8018; }
    }
  }
}


.overview-bg {
  position: relative;
  overflow: hidden;
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-content;
    background-image: url('../img/content/overview/bg.jpg');
    background-color: #000;
    @include background-attributes;
    background-position: top center; // lines up bg image of first frame with the video so there is no jump when video loads
  }
  &__content {
    position: relative;
    z-index: $z-content-overlay;
  }
  &__video {
    // display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: $z-content-upper;
    width: 100%;
    min-height: 100%;
    & video {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
      display: none;
      @include bp($lg){ display: block; }
    }
    &:before { // needed to replicate background-size: cover behaviour
      content: '';
      display: block;
      width: 100%;
      padding-top: 56.25%;
    }
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-content-upper;
    background-color: rgba(26,32,43,.4);
  }
}

.bg-img__fruit {
  position: absolute;
  right: -20px;
  bottom: -20px;
  z-index: $z-content-upper;
  height: 70px;
  width: 70px;
  @include background-attributes;
  background-size: contain;
}