---
layout: default
---

<div class="bg-img bg--about" style="background-image: url('{{site.img}}/content/{{page.id}}/bg.jpg');">
  <div class="site-header__offset"></div>
  <div class="site-nav__offset"></div>

  <div class="vpad--about">
    <div class="width width--lg text--center text--xxl text--normal text--white">
    <div class="width width--lf-logo">
      <a href="{{site.client.link}}">
        <img src="{{site.img}}/logo/partner.svg" alt="{{site.client.name}} Logo">
      </a>
    </div>
    <div class="space--md"></div>
    <p>{{page.intro}}</p>
    <div class="space--md"></div>
    <a href="{{site.client.link}}" class="btn btn--orange">Discover More</a>
  </div>
  </div>

</div>

<div class="content-spacing section-spacing">
  {% include page/promo-competition.html %}
</div>