---
layout: default
---

<div class="bg--img" style="background-image: url('{{site.img}}/content/{{page.id}}/bg.jpg');">
  <div class="site-header__offset"></div>
  <div class="site-nav__offset"></div>

  <div class="space--xxxxl"></div>
  <div class="space--xl"></div>

  <div class="container content-spacing text--white">
    <div class="width width--xxl text--center">
      <h1 class="banner-title">{{page.title}}</h1>
      <div class="width width--xl space--sm">
        <p class="text--xxxl text--normal">{{page.intro}}</p>
        <p class="text--xxxl text--normal">What’s more, we have 25x £250 Secret Escapes vouchers for lucky runners-up, to go towards your very own delicious escape into the unknown.</p>
        <p class="text--xxxl text--normal">Have you got your code from your Light & Free yoghurt pack? If so, you’re in with a chance of winning!</p>
        <div class="space--md"></div>
        <a href="#opens-competition-entry-form" class="btn btn--lg btn--orange">Enter Now</a>
      </div>
    </div>
  </div>

  <div class="bg--gradient bg--gradient-cream vpad--xxxl">
    <div class="container container--xxl">
      <div class="row row--6-6">
        <div class="col">
          <div class="prize">
            <div class="prize__number prize__number--8-7">7</div>
            <div class="prize__description">secret getaways <br>still to win!</div>
          </div>
        </div>
        <div class="col">
          <div class="prize">
            <div class="prize__number prize__number--8-7">20</div>
            <div class="prize__description">£250 Secret Escapes vouchers still to win!</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg--cream content-spacing">
  <div class="container">
    <div class="text--center space--lg">
      <h2 class="title title--xl width width--lg">Here’s a teasing taster of our eight secret getaways…</h2>
      <div class="space--xxl"></div>
      <div class="row row--lg-6-6 row--xxl-4-4-4 row--gutters-lg">
        {% for prize in page.prizes %}
          <div class="col">
              <div class="bg-img bg-img--4-3" style="background-image: url('{{site.img}}/content/{{page.id}}/prize/{{prize.id}}.jpg')">
                <div class="bg-img__fruit" style="background-image: url('{{site.img}}/content/{{page.id}}/fruit/{{prize.id}}.png')"></div>
              </div>
              <div class="vpad--md hpad--sm text--normal">
                <h3 class="title title--sm">{{prize.title}}</h3>
                {% for item in prize.description %}
                  <p>{{item}}</p>
                {% endfor %}
              </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="space--xxxl"></div>
</div>

<div class="vpad--xxxl content-spacing">
  <div class="container content-spacing">
    <div class="text--center width width--lg space--lg">
      <h2 class="title title--xxl">Delicious escapes to tickle your tastebuds...</h2>
      <p class="text--xxxl">If you win one of our £250 vouchers, here’s what you could book…</p>
    </div>
  </div>
  {% include offer/preview-offers.html%}
  <div class="text--center">
    <a href="{{site.baseurl}}/offers" class="btn btn--outline btn--outline-orange">See more offers</a>
  </div>
</div>

<div class="bg--light bg--img vpad--xxxl" style="background-image: url('{{site.img}}/content/{{page.id}}/banner.jpg'); background-position: top center;">
  <div class="container text--white">
    <div class="width width--lg text--center">
      <h2 class="title title--xxl">{{page.title}}</h2>
      <div class="space--md"></div>
      <a href="#opens-competition-entry-form" class="btn btn--lg btn--orange">Enter Now</a>
    </div>
  </div>
</div>